<h1>Categories</h1>

<% @categories.each do |category| %>
  <div>
    <h2><%= category.name %></h2>
    <% if category.icon_url.present? %>
      <img src="<%= category.icon_url %>" alt="Category Icon" />
    <% else %>
      <p>No Icon</p>
    <% end %>
  </div>
<% end %>

<%= link_to "Add a new category", new_category_path %>
